.modal {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.3);
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: var(--spacing-lg);
  transition: var(--transition-normal);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  z-index: 1000;
  opacity: 0;
  animation: modalScale 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.modal.error {
  border: 1px solid var(--border-error-color);
}

@keyframes modalScale {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3) rotateY(10deg);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotateY(0deg);
  }
}
