.main {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.editorContainer {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  padding: 5% 0;
  transition: padding 0.3s ease;
}
.stub {
  background-color: var(--bg-secondary);
  max-width: 85%;
  width: 100%;
  height: 100%;
  max-height: 720px;
}
