.filebar {
  width: 300px;
  height: 100%;
}

.filebarContainer {
  background-color: var(--bg-secondary);
  padding: var(--spacing-md) var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  border-right: 1px solid var(--border-color);
  height: 100%;
}

hr {
  width: 106%;
  margin: 0 -9px;
  border: none;
  color: var(--border-color);
  background-color: var(--border-color);
  height: 1px;
}

.fileList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  border-radius: var(--border-radius);
  overflow-y: auto; /* Возвращаем скролл */
  overflow-x: hidden;
  height: 100%;
  padding-right: 6px;
  margin-right: -4px;
}

.fileList::-webkit-scrollbar {
  width: 3px;
}

.fileList::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary);
  border-radius: var(--border-radius);
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.buttons button {
  width: 100%;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-4px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
